* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* 3D 씬에는 스크롤바가 없는 것이 좋습니다 */
  overflow: hidden; 
}

/* R3F가 생성하는 <canvas>에 배경색 적용 (선택 사항) */
canvas {
  background-color: #eeeeee;
}